/.vs/SkillAppAdoDapperWebApi/DesignTimeBuild/.dtbcache
/.vs/SkillAppAdoDapperWebApi/DesignTimeBuild/.dtbcache.v2
/.idea/.idea.SkillAppAdoDapperWebApi/.idea/.gitignore
/.idea/.idea.SkillAppAdoDapperWebApi/.idea/.name
/.vs/SkillAppAdoDapperWebApi/v16/.suo
/.vs/SkillAppAdoDapperWebApi/config/applicationhost.config
/.vs/SkillAppAdoDapperWebApi/v16/Server/sqlite3/db.lock
/.vs/SkillAppAdoDapperWebApi/config/debuggerConfiguration-0ad9516d-9729-41d5-b8fe-d31a024e3a81.json
/DeliveryAppAdoDapperWebApi.DAL/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.DAL.AssemblyInfo.cs
/DeliveryAppAdoDapperWebApi.DAL/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.DAL.AssemblyInfoInputs.cache
/DeliveryAppAdoDapperWebApi.DAL/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.DAL.assets.cache
/DeliveryAppAdoDapperWebApi.DAL/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.DAL.csproj.CoreCompileInputs.cache
/DeliveryAppAdoDapperWebApi.DAL/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.DAL.csproj.FileListAbsolute.txt
/DeliveryAppAdoDapperWebApi.DAL/obj/DeliveryAppAdoDapperWebApi.DAL.csproj.nuget.dgspec.json
/DeliveryAppAdoDapperWebApi.DAL/obj/DeliveryAppAdoDapperWebApi.DAL.csproj.nuget.g.props
/DeliveryAppAdoDapperWebApi.DAL/obj/DeliveryAppAdoDapperWebApi.DAL.csproj.nuget.g.targets
/DeliveryAppAdoDapperWebApi.DAL/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.DAL.csprojAssemblyReference.cache
/DeliveryAppAdoDapperWebApi.DAL/bin/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.DAL.deps.json
/DeliveryAppAdoDapperWebApi.DAL/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.DAL.dll
/SkillAppAdoDapperWebApi/bin/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.DAL.dll
/DeliveryAppAdoDapperWebApi.DAL/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.DAL.pdb
/SkillAppAdoDapperWebApi/bin/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.DAL.pdb
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.AssemblyInfo.cs
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.AssemblyInfoInputs.cache
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.assets.cache
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.csproj.CopyComplete
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.csproj.CoreCompileInputs.cache
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.csproj.FileListAbsolute.txt
/SkillAppAdoDapperWebApi/obj/DeliveryAppAdoDapperWebApi.WEBAPI.csproj.nuget.dgspec.json
/SkillAppAdoDapperWebApi/obj/DeliveryAppAdoDapperWebApi.WEBAPI.csproj.nuget.g.props
/SkillAppAdoDapperWebApi/obj/DeliveryAppAdoDapperWebApi.WEBAPI.csproj.nuget.g.targets
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.csprojAssemblyReference.cache
/SkillAppAdoDapperWebApi/bin/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.deps.json
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.dll
/SkillAppAdoDapperWebApi/bin/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.exe
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.exe
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.genruntimeconfig.cache
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.MvcApplicationPartsAssemblyInfo.cache
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.pdb
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.RazorTargetAssemblyInfo.cache
/SkillAppAdoDapperWebApi/bin/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.runtimeconfig.dev.json
/SkillAppAdoDapperWebApi/bin/Debug/netcoreapp3.1/DeliveryAppAdoDapperWebApi.WEBAPI.runtimeconfig.json
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/staticwebassets/DeliveryAppAdoDapperWebApi.WEBAPI.StaticWebAssets.Manifest.cache
/SkillAppAdoDapperWebApi/obj/Debug/netcoreapp3.1/staticwebassets/DeliveryAppAdoDapperWebApi.WEBAPI.StaticWebAssets.xml
/.idea/.idea.SkillAppAdoDapperWebApi/.idea/encodings.xml
/.idea/.idea.SkillAppAdoDapperWebApi/.idea/indexLayout.xml
/.idea/.idea.SkillAppAdoDapperWebApi/.idea/riderModule.iml
/SkillAppAdoDapperWebApi.sln
/.vs/SkillAppAdoDapperWebApi/v16/Server/sqlite3/storage.ide
/.idea/.idea.SkillAppAdoDapperWebApi/.idea/vcs.xml
